<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="index.html" class="active"><i class="fa fa-home nav_icon"></i>主控制台</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>分类管理 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="{:url('cate/index')}">分类列表</a>
                        </li>
                        <li>
                            <a href="{:url('cate/add')}">添加分类</a>
                        </li>
                    </ul>
                    <!-- /nav-second-level -->
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-book nav_icon"></i>城市管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="{:url('city/index')}">城市列表</a>
                        </li>
                        <li>
                            <a href="{:url('city/add')}">添加城市</a>
                        </li>
                    </ul>
                    <!-- /nav-second-level -->
                </li>
                <li>
                    <a href="widgets.html"><i class="fa fa-th-large nav_icon"></i>Widgets <span class="fa arrow"></span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="inbox.html">Inbox </a>
                        </li>
                        <li>
                            <a href="compose.html">Compose email</a>
                        </li>
                    </ul>
                    <!-- //nav-second-level -->
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-table nav_icon"></i>Tables<span class="fa arrow"></span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="forms.html">Basic Forms </a>
                        </li>
                        <li>
                            <a href="validation.html">Validation</a>
                        </li>
                    </ul>
                    <!-- //nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Pages<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="login.html">Login</a>
                        </li>
                        <li>
                            <a href="signup.html">SignUp</a>
                        </li>
                        <li>
                            <a href="blank-page.html">Blank Page</a>
                        </li>
                    </ul>
                    <!-- //nav-second-level 是-->
                </li>
                <li>
                    <a href="charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Charts <span class="fa arrow"></span></a>
                </li>
            </ul>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>